.infobox {
    position: absolute; 
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.infobox-left {
    position: absolute; 
    left: 54%;
    top: 150px;
    transform: translateX(-50%);
}

.infobox-right {
    position: absolute; 
    left: 42%;
    top: 150px;
    transform: translateX(-50%);
}

.home-name {
    font-family: 'Figtree', sans-serif;
    color: #ECDBBA;
}

.home-link {
    color: white;
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}
